<header #header class="fixed-header" role="banner">
  <div class="header-content">
    <div id="logoWrapper">
      <img
        loading="lazy"
        decoding="async"
        id="logo"
        style="max-width: 5rem; max-height: 5rem; object-fit: contain"
        alt="logo"
        src="webp/llmpp-shield-mask.webp"
      />
    </div>
    <div class="header-title-container">
      <h1
        class="header-title"
        tabindex="0"
        style="font-weight: bold; font-size: 1rem; margin: 0"
      >
        LLM Prompt Purify
      </h1>
    </div>
    <nav class="header-nav" aria-label="Main Navigation">
      <a
        href="/feedback"
        role="button"
        class="nav-link"
        tabindex="0"
        aria-label="Feedback Form"
        title="Feedback"
        >Feedback</a
      >
      <a
        href="/contact"
        role="button"
        class="nav-link"
        tabindex="0"
        aria-label="Contact Developer"
        title="Contact"
        >Contact</a
      >
    </nav>
    <app-help-toggle></app-help-toggle>
    <button
      #toggleButton
      mat-button
      class="fix-toggle"
      (click)="toggleFixHeader()"
      aria-label="Fix header"
      aria-labelledby="fixHeaderLabel"
      title="Fix Header"
    >
      <mat-checkbox
        [checked]="_permFixHeader"
        class="mat-small-checkbox"
      ></mat-checkbox>
      <label id="fixHeaderLabel"> Fix Header </label>
    </button>
  </div>
</header>
