@use "../styles/abstracts/vars.scss" as v;
@use "../styles/abstracts/mixins.scss" as *;
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(45deg, #76a9c7 40%, #54aadb 90%);
  color: #fff;
  transition: height 0.3s ease, transform 0.5s ease;
  z-index: 1000;
  overflow: hidden;
  border-bottom: ridge v.$gap-tn #c7cad1;
  .header-content {
    display: grid;
    grid-auto-flow: row;
    #logoWrapper {
      grid-column: logo;
    }
    .header-title-container {
      grid-column: title;
    }
    .header-nav {
      grid-column: links;
      justify-self: start;
    }
    .header-title {
      font-size: v.$txt-md;
      font-weight: 600;
      white-space: pre;
      padding-right: v.$gap-md;
    }
    .fix-toggle {
      @include moving-button(-2px, 2px);
      grid-column: fix-toggle;
      font-size: 0.875rem;
      white-space: pre;
      min-width: 7.5rem;
      margin-left: v.$gap-sm;
      padding: v.$gap-tn calc(v.$gap-sm + v.$gap-md);
      background: transparent;
      border: none;
      color: inherit;
      cursor: pointer;
      max-width: max-content;
      transition: background-color 0.3s ease, transform 0.25s ease-in-out;
      border-bottom: aliceblue v.$gap-tn ridge;
      border-inline: aliceblue 1px ridge;
      border-top: aliceblue 1px outset;
      border-radius: v.$gap-lg;
      * {
        border-radius: v.$gap-lg;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:active {
        background-color: rgba(255, 255, 255, 0.2);
      }
      &[data-active="true"] {
        filter: brightness(70%);
        transform: translateY(2px);
        &:active {
          transform: translateY(3px);
        }
      }
      @media screen and (max-width: 720px) {
        grid-column: 8;
      }
    }
    grid-template-areas: "logo title links scheme-toggle help fix-toggle";
    grid-template-columns: 0.35fr 0.6fr 3fr 0.2fr 0.25fr 0.55fr;
    align-items: center;
    justify-items: center;
    padding: v.$gap-sm v.$gap-md;
    @media screen and (max-width: 800px) {
      grid-template-columns: 0.35fr 0.6fr 4.5fr 0.5fr 2fr;
    }
    @media screen and (max-width: 720px) {
      grid-template-areas:
        "logo title title title help"
        "links links links links fix-toggle";
      grid-template-columns: 0.4fr 1fr 0.25fr 0.5rem;
      grid-template-rows: 1fr 0.8fr;
      .toggle-help {
        grid-row: 1;
      }
    }
  }
  .header-nav {
    display: flex;
    gap: v.$gap-md;
    grid-column: span 3;
    padding-left: 1.5rem;
    a {
      @include styled-link;
    }
  }
}
.mat-small-checkbox {
  opacity: 0;
  width: 0;
}
:host ::ng-deep {
  #logo {
    max-width: 4rem;
    max-height: 4rem;
    object-fit: contain;
  }
  .header-title {
    font-weight: bold;
    font-size: 1rem;
    margin: 0 !important;
  }
}
