@use "./vars.scss" as *;
@mixin btn-after-expander {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -99;
  transition: transform linear 0.25s, opacity ease-out 0.1s;
}
@mixin btn-after-active-expander {
  transform: scale(5);
  opacity: 0;
}
@mixin clear-btn {
  width: max-content;
  background: none;
  border: none;
  padding: $gap-tn $gap-sm;
  display: inline-flex;
  align-items: center;
  gap: $gap-sm;
}
@mixin interactive-states($bg-hover: $hover-bg, $bg-active: $active-bg) {
  &:hover {
    background-color: $bg-hover;
    cursor: pointer;
  }
  &:active {
    background-color: $bg-active;
  }
}
@mixin moving-button(
  $hover-move: -1px,
  $active-move: 2px,
  $transition: transform 0.25s ease-in-out
) {
  @if transition != null {
    transition: $transition;
  }
  &:hover {
    transform: translateY($hover-move);
  }
  &:active {
    transform: translateY($active-move);
  }
}
@mixin styled-link {
  text-decoration: none;
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
  &:not(:visited) {
    opacity: 1;
    font-weight: bolder;
  }
  &:visited {
    opacity: 0.8;
  }
  &::first-letter {
    text-transform: capitalize;
  }
  &:hover {
    transform: translateY(-2px);
  }
}
@mixin delined-pseudo-elements {
  &::first-letter {
    font-size: 1.5em;
    font-weight: bold;
  }
  &::first-line {
    font-style: italic;
  }
  &::placeholder {
    color: lighten($text-color, 30%);
  }
}

@mixin mat-header-row($bg: var(--header-row-bg, #ececec)) {
  background-color: $bg;
}

@mixin mat-header-cell {
  padding: $gap-md $gap-sm;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.04);
  @include interactive-states();
}

/** Body cells */
@mixin mat-cell {
  padding: $gap-md $gap-sm;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  @include interactive-states();
}

@mixin zebra-stripes($alt-bg) {
  tbody tr:nth-child(odd) td.mat-mdc-cell {
    background-color: $alt-bg;
  }
}

@mixin dialog-surface(
  $bg: var(--dialog-surface-bg, #fff),
  $fg: var(--dialog-surface-color, #000)
) {
  background-color: $bg;
  color: $fg;
  border-radius: 0.75rem;
  *,
  .mat-mdc-dialog-title {
    color: rgba(255, 255, 255, 0.87);
  }
  summary {
    h2,
    h3,
    h4 {
      font-weight: 550;
      font-size: 1.2rem !important;
      margin-left: 0.75rem;
    }
  }
}

@mixin dialog-scrollbar-dark {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: $gap-tn;
  }
}
