@use "./vars.scss" as *;
@keyframes border-spinning {
  0% {
    background-color: #7a7a7a;
    box-shadow: 0 0 0 1px #d2cece, 0 0 5px 1px rgba(245, 245, 245, 0.5),
      inset 0 0 3px rgba(0, 0, 0, 0.05);
    border-color: #3c3b3b;
  }
  50% {
    background-color: #4c4c4c;
    box-shadow: 0 0 0 2px #eee, 0 0 8px 2px rgba(250, 250, 250, 0.6),
      inset 0 0 5px rgba(0, 0, 0, 0.03);
    border-color: #656565;
  }
  100% {
    background-color: #aeabab;
    box-shadow: 0 0 0 1px #e5e5e5, 0 0 5px 1px rgba(245, 245, 245, 0.5),
      inset 0 0 3px rgba(0, 0, 0, 0.05);
    border-color: #222222;
  }
}
@keyframes move-up-down {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes subtle-glow-spin {
  0% {
    background-color: #7a7a7a;
    box-shadow: 0 0 0 1px #d2cece1a, 0 0 5px 1px rgba(245, 245, 245, 0.093),
      inset 0 0 3px rgba(0, 0, 0, 0.05);
    border-color: #5e5e5e;
  }
  50% {
    background-color: #4c4c4c;
    box-shadow: 0 0 0 2px #eeeeee18, 0 0 8px 2px rgba(250, 250, 250, 0.142),
      inset 0 0 5px rgba(0, 0, 0, 0.03);
    border-color: #272727;
  }
  100% {
    background-color: #aeabab;
    box-shadow: 0 0 0 1px #86858531, 0 0 5px 1px rgba(245, 245, 245, 0.208),
      inset 0 0 3px rgba(0, 0, 0, 0.05);
    border-color: #6b6868;
  }
}
@mixin cta-buttons-icons($color, $animation) {
  .mat-icon.mat-mdc-icon {
    transition: transform ease-in-out 0.5s, color ease-in-out 1s;
    &:hover {
      transform: rotateZ(-5deg) scale(1.2) !important;
      color: $color;
      z-index: 99;
      animation: $animation;
    }
  }
}
@mixin btn-after-expander {
  content: "";
  display: inline-block;
  height: 120%;
  width: 120%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: -99;
  opacity: 0.5;
  transition: transform linear 0.5s, opacity ease-out 0.5s;
}
@mixin btn-after-active-expander {
  transform: scale(5);
  opacity: 0;
}
@mixin clear-btn {
  width: max-content;
  background: none;
  border: none;
  padding: $gap-tn $gap-sm;
  display: inline-flex;
  align-items: center;
  gap: $gap-sm;
}
@mixin dark-swal {
  .swal2- {
    &actions {
      color: $dark-text !important;
      @include interactive-states($dark-header-hover-bg, $dark-header-bg);
      .swal2- {
        &cancel,
        &deny {
          background-color: rgb(221 151 51 / 71%) !important;
        }
        &confirm.swal2-styled {
          background-color: rgb(15 124 32) !important;
        }
      }
    }
    &container {
      background-color: rgba(0, 0, 0, 0.75);
    }
    &icon-warning {
      background-color: #1e1e1e;
      color: $dark-text;
      svg {
        fill: $dark-text;
      }
    }
    &popup {
      @include dialog-surface(#1e1e1e, $dark-text);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
      &.swal2-modal {
        max-width: 90vw;
      }
    }
    &show {
      animation: swal2-show 0.3s;
    }
    &toast {
      @include dialog-surface($dark-cell-bg, $dark-text);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
      .swal2- {
        &title,
        &content {
          color: $dark-text;
        }
      }
    }
    &title,
    &content {
      color: $dark-text !important;
    }
  }
}
@mixin dark-theme-overrides {
  html {
    scrollbar-color: #fff4 #1115;
    &:has(body.dark-theme) {
      background-color: $dark-base;
    }
    &:has(body.dark-theme.toggled-theme) {
      background-color: $dark-base !important;
    }
  }

  body {
    @include dark-swal;
  }

  .cdk-overlay-container {
    .mat-mdc-dialog-container,
    .mdc-dialog__surface {
      @include dialog-surface($dark-cell-bg, $dark-text);
      * {
        border-color: $dark-background-color !important;
      }
    }
    .mat-mdc-dialog {
      &-content {
        @include dialog-scrollbar-dark;
        table.mat-mdc-table {
          @include zebra-stripes($dark-alt-row-bg);
          th.mat-mdc-header-cell {
            @include text-theme;
            @include mat-header-cell;
            background-color: $dark-header-bg;
            &:hover {
              background-color: $dark-header-hover-bg;
            }
          }
          td.mat-mdc-cell {
            @include text-theme;
            @include mat-cell;
            background-color: $dark-cell-bg;
          }
        }
      }
      &-title {
        @include text-theme;
      }
    }
  }

  #mainContainer {
    background-color: $dark-base;

    input,
    textarea,
    p,
    mat-select,
    mat-label,
    .mat-mdc-form-field-infix {
      color: #eeee;
    }

    .mdc-button--raised,
    mat-icon {
      filter: invert(0.85);
    }

    .mat-icon {
      color: rgb(10, 10, 10);
    }
  }
}
@mixin delined-pseudo-elements {
  &::first-letter {
    font-size: 1.5em;
    font-weight: bold;
  }
  &::first-line {
    font-style: italic;
  }
  &::placeholder {
    color: lighten($text-color, 30%);
  }
}
@mixin dialog-surface(
  $bg: var(--dialog-surface-bg, #fff),
  $fg: var(--dialog-surface-color, #000)
) {
  background-color: $bg;
  color: $fg;
  border-radius: 0.75rem;
  *,
  .mat-mdc-dialog-title {
    @include text-theme;
  }
  summary {
    h2,
    h3,
    h4 {
      font-weight: 550;
      font-size: 1.2rem !important;
      margin-left: 0.75rem;
      @include text-theme;
    }
  }
}
@mixin dialog-surface-dark($bg: $dark-background-color, $fg: $dark-text-color) {
  background-color: $bg !important;
  color: $fg !important;
  border-radius: 0.75rem !important;

  *,
  .mat-mdc-dialog-title {
    color: $fg !important;
  }

  summary {
    h2,
    h3,
    h4 {
      font-weight: 550 !important;
      font-size: 1.2rem !important;
      margin-left: 0.75rem !important;
      color: $fg !important;
    }
  }
}
@mixin dialog-scrollbar-dark {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: $gap-tn;
  }
}
@mixin light-theme-overrides {
  scrollbar-color: #1115 #fff4;

  #mainContainer {
    background-color: $background-color;

    .mdc-button--raised,
    mat-icon {
      filter: invert(0);
    }

    input,
    textarea,
    p,
    mat-select,
    mat-label,
    .mat-mdc-form-field-infix {
      color: $text-color !important;
    }
  }

  .cdk-overlay-container {
    .mat-mdc- {
      &content {
        ::-webkit-scrollbar-thumb {
          background-color: $scrollbar-thumb;
        }
      }

      &dialog-title {
        color: $text-color;
      }

      &table {
        @include zebra-stripes($zebra-stripe);

        th.mat-mdc-header-cell {
          @include mat-header-cell;
          background-color: var(--header-row-bg);
          color: $text-color;

          &:hover {
            background-color: $hover-bg;
          }
        }

        td.mat-mdc-cell {
          @include mat-cell;
          background-color: $background-color;
          color: $text-color;

          &:hover {
            background-color: lighten($background-color, 5%);
          }
        }
      }
    }

    .mat-mdc-dialog-container,
    .mdc-dialog__surface {
      @include dialog-surface($background-color, $text-color);
    }
  }

  .regenerate-btn,
  .regenerate {
    border: solid 0.1rem $regenerate-border !important;
  }

  .swal2 {
    &-actions {
      &:hover {
        background-color: rgba(232, 232, 232, 0.85);
      }
    }

    &-icon {
      &-warning {
        background-color: #ffffff;
        color: $text-color;

        svg {
          fill: $text-color;
        }
      }
    }

    &-popup {
      background-color: $swal2-popup-bg;
      opacity: 0.95;

      * {
        color: $text-color !important;
      }

      button {
        font-weight: 550;
      }

      .swal2-html-container {
        opacity: 0.8;
      }
    }

    &-container {
      background-color: $swal2-popup-bg;
    }

    &-toast {
      @include dialog-surface($swal2-toast-bg, $text-color);
      box-shadow: 0 2px 6px $swal2-toast-shadow;

      .swal2 {
        &-title,
        &-content {
          color: $text-color;
        }
      }
    }
  }

  &.toggled-theme {
    .cdk-overlay-container {
      .mat-mdc-dialog-container,
      .mdc-dialog__surface {
        @include dialog-surface($background-color, $text-color);
        @include text-tag-theme();
      }
      .mat-mdc {
        &-dialog {
          &-content {
            ::-webkit-scrollbar-thumb {
              background-color: $scrollbar-thumb !important;
            }
            table.mat-mdc-table {
              @include zebra-stripes($dark-alt-row-bg);
              th.mat-mdc-header-cell {
                color: $text-color !important;
                @include mat-header-cell;
                background-color: darken($zebra-stripe, 5%);
                &:hover {
                  background-color: $dark-header-hover-bg;
                }
              }
              td.mat-mdc-cell {
                color: $text-color !important;
                @include mat-cell;
                background-color: darken($zebra-stripe, 2%);
              }
            }
          }

          &-title {
            color: $text-color !important;
          }
        }

        &-table {
          @include zebra-stripes($zebra-stripe);

          tbody tr:nth-child(odd) {
            th#{&}-header-cell {
              @include mat-header-cell;
              background-color: $dark-header-bg !important;
              color: $text-color !important;

              &:hover {
                background-color: $hover-bg !important;
              }
            }

            td#{&}-cell,
            td.mat-mdc-cell {
              padding: $gap-md $gap-sm !important;
              background-color: $background-color !important;
              color: $text-color !important;

              &:hover {
                background-color: lighten($background-color, 5%) !important;
              }
            }
          }
        }
      }
    }
  }
}
@mixin modal-footer-btn {
  position: relative;
  font-size: 0.8rem;
  font-weight: 500;
  display: grid;
  grid-template: 1fr / repeat(2, max-content);
  align-items: center;
  gap: $gap-sm;
  transition: border 0.25s ease-in-out, gap 0.25s ease-in-out;
  &:hover {
    animation: border-spinning ease-in-out infinite 1s;
    font-weight: 600;
    gap: 1.2rem;
  }
  cursor: pointer;
  label {
    cursor: pointer;
  }
  &::after {
    @include btn-after-expander;
    background-color: #ffffff00;
    border-radius: 1rem;
  }
  &:active {
    &::after {
      @include btn-after-active-expander;
      background-color: #ffffff77;
    }
  }
}
@mixin mix-move-up-down {
  transition: transform ease-in-out 0.5s;
  animation: move-up-down 2s ease-in-out infinite;
}
@mixin interactive-states($bg-hover: $hover-bg, $bg-active: $active-bg) {
  &:hover {
    background-color: $bg-hover;
    cursor: pointer;
  }
  &:active {
    background-color: $bg-active;
  }
}
@mixin interactive-states-dark(
  $bg-hover: $dark-hover-bg,
  $bg-active: $dark-active-bg
) {
  &:hover {
    background-color: $bg-hover !important;
    cursor: pointer !important;
  }
  &:active {
    background-color: $bg-active !important;
  }
}
@mixin mat-header-row($bg: var(--header-row-bg, #ececec)) {
  background-color: $bg;
}
@mixin mat-header-cell {
  padding: $gap-md $gap-sm;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.04);
  @include interactive-states();
}
@mixin mat-header-cell-dark {
  padding: $gap-md $gap-sm !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  user-select: none !important;
  background-color: rgba(255, 255, 255, 0.04) !important;
  @include interactive-states-dark;
}

@mixin mat-cell {
  padding: $gap-md $gap-sm;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  @include interactive-states();
}
@mixin moving-button(
  $hover-move: -1px,
  $active-move: 2px,
  $transition: transform 0.25s ease-in-out
) {
  @if transition != null {
    transition: $transition;
  }
  &:hover {
    transform: translateY($hover-move);
  }
  &:active {
    transform: translateY($active-move);
  }
}
@mixin styled-link {
  text-decoration: none;
  transition: transform 0.25s ease-in-out, color 0.25s ease-in-out;
  &:not(:visited) {
    opacity: 1;
    font-weight: bolder;
  }
  &:visited {
    opacity: 0.8;
  }
  &::first-letter {
    text-transform: capitalize;
  }
  &:hover {
    transform: translateY(-2px);
  }
}
@mixin text-theme {
  @media (prefers-color-scheme: light) {
    color: $text-color;
  }
  @media (prefers-color-scheme: dark) {
    color: $dark-text;
  }
  &.dark-theme {
    color: $dark-text;
    &.toggled-theme {
      color: $dark-text !important;
    }
  }
  &.light-theme {
    color: $text-color;
    &.toggled-theme {
      color: $text-color !important;
    }
  }
}
@mixin text-tag-theme($color: $text-color) {
  span,
  div,
  small,
  strong,
  b,
  em,
  h1,
  h2 h3,
  h4,
  h5,
  h6 {
    color: $color !important;
    * {
      color: $color;
    }
  }
}
@mixin zebra-stripes($alt-bg) {
  tbody {
    tr {
      &:nth-child(odd) {
        td {
          &.mat-mdc-cell {
            background-color: $alt-bg;
            &.toggled-theme {
              background-color: $alt-bg !important;
            }
          }
        }
      }
    }
  }
}
@mixin zebra-stripes-dark($alt-bg) {
  tbody {
    tr {
      &:nth-child(odd) {
        td {
          &.mat-mdc-cell {
            background-color: $alt-bg;
          }
        }
      }
    }
  }
}
