$gap-tn: 0.25rem;
$gap-sm: 0.5rem;
$gap-sm--2: 0.75rem;
$gap-md: 1rem;
$gap-md--2: 1.5rem;
$gap-lg: 2rem;

$shape-sm: 2.5rem;
$txt-tn: 0.2em;
$txt-sm: 0.4em;
$txt-md: 1.25em;
$cta-margin: 2rem;

$primary-color: #3f51b5;
$secondary-color: #f50057;
$text-color: #333;
$background-color: #fff;
$warn: #ffeb3b;

$header-bg: lighten(rgba(255, 255, 255), 90%);
$hover-bg: lighten($primary-color, 20%);
$active-bg: darken($primary-color, 10%);

$border-radius: 4px;

$transition-speed: 0.3s;

$scrollbar-thumb: rgba(0, 0, 0, 0.2);
$regenerate-border: rgba(0, 0, 0, 0.27);
$zebra-stripe: #f2f2f2;
$swal2-popup-bg: rgba(239, 239, 239, 0.8);
$swal2-container-bg: rgb(228, 228, 228);
$swal2-toast-bg: #fffe;
$swal2-toast-shadow: rgba(226, 226, 226, 0.5);
$zebra-stripe: #f2f2f2;

$dark-base: #3b3b3b;
$dark-header-bg: #616161;
$dark-header-hover-bg: #4a4a4a;
$dark-cell-bg: #424242;
$dark-alt-row-bg: #373737;
$dark-text: rgba(255, 255, 255, 0.87);
$dark-zebra-stripe: #373737;
$dark-hover-bg: #4a4a4a;
$dark-active-bg: darken($dark-hover-bg, 10%);
$dark-background-color: #424242;
$dark-text-color: rgba(255, 255, 255, 0.87);
$dark-scrollbar-thumb: rgba(255, 255, 255, 0.2);
