<hgroup class="dialog-header">
  <h2 mat-dialog-title id="promptTableHeading">
    Relational Table for the Prompt Masks
  </h2>
</hgroup>
<hr class="prompt-table-break" />
<mat-dialog-content #content id="promptTableContent" [innerHTML]="data.text">
  <span id="prompt-table-flag">Flag for table</span>
</mat-dialog-content>
<fieldset class="fs-copy">
  <button
    mat-icon-button
    color="secondary"
    aria-label="Copy Output"
    aria-labelledby="labelCopyOutputFromModal"
    title="Copy Output"
    id="btnCopyOutputFromModal"
    (click)="copyOutput()"
  >
    <mat-icon>content_copy</mat-icon>
    <label id="labelCopyOutputFromModal" for="btnCopyOutputFromModal"
      >Copy the Output</label
    >
  </button>
</fieldset>
