.prompt-table-modal {
  height: 50vw !important;
  resize: both;
  overflow: auto;
  mat-dialog-content.mat-mdc-dialog-content {
    width: 50vw;
  }
  .mat-mdc-dialog-container .mat-mdc-dialog-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0.5rem;
    text-align: center;
  }
  #scanResults {
    width: 60%;
  }
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    scrollbar-width: none !important;
  }
  table {
    width: 60%;
    align-self: center;
  }
}
.mdc-dialog--open {
  &.mat-mdc-dialog-surface {
    scroll-behavior: smooth;
    scrollbar-width: none !important;
  }
}
:host ::ng-deep {
  table {
    border-collapse: collapse;
    margin-left: 1%;
    td,
    th {
      border: 1px solid #7171712e;
    }
    td {
      fieldset {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 0.625em;
        [type="checkbox"] {
          cursor: pointer;
          width: 1rem;
          height: 1rem;
          clip-path: circle(65%);
          outline: transparent;
        }
      }
    }
  }
  .fs-copy {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    color: #2229;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .prompt-table-break {
    border: #7171712e 1px solid;
    margin-right: 12%;
  }
  #prompt-table-flag {
    display: none !important;
  }
  #promptTableHeading {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-right: 0.75rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  #promptTableContent {
    padding: 0.5rem 1rem 1rem 2rem;
    height: 50vh;
    border-block: #7171712e 1px solid;
  }
}
::ng-deep .prompt-table-modal {
  .subtitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 0.7rem;
    opacity: 0.7;
    margin: 1.5rem 0 0 0;
    padding-bottom: 0.5rem;
  }
  hr {
    border: #7171712e 1px solid;
    margin-right: 12%;
  }
}
