@use "../styles/abstracts/vars.scss" as *;
@use "../styles/abstracts/mixins.scss" as *;
@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
.prompt-table-modal {
  height: 50vw !important;
  resize: both;
  overflow: auto;
  mat-dialog-content {
    &.mat-mdc-dialog-content {
      width: 50vw;
    }
  }
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-title {
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: $gap-sm;
      text-align: center;
    }
  }
  #scanResults {
    width: 60%;
  }
  .mat-mdc-dialog-surface {
    &.mdc-dialog__surface {
      scrollbar-width: none !important;
    }
  }
  table {
    width: 60%;
    align-self: center;
  }
}
.mdc-dialog--open {
  &.mat-mdc-dialog-surface {
    scroll-behavior: smooth;
    scrollbar-width: none !important;
  }
}
:host {
  ::ng-deep {
    table {
      border-collapse: collapse;
      margin-left: 1%;
      td,
      th {
        border: 1px solid #7171712e;
      }
      td {
        fieldset {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 0.625em;
          [type="checkbox"] {
            cursor: pointer;
            width: calc($gap-md * 2);
            height: calc($gap-md * 1.25);
            clip-path: circle(45%);
            outline: transparent;
            accent-color: #7bdf91b8;
            transition: transform 0.5s ease-in-out;
            &:hover {
              transform: translateY(-1px);
              &:active {
                transform: translateY(1px);
              }
            }
          }
        }
      }
      th {
        vertical-align: bottom !important;
      }
      tr {
        &:hover {
          filter: contrast(0.8);
          border: solid 3px #0014;
        }
      }
    }
    .fs-wrapper-copy {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (prefers-color-scheme: dark) {
        border-color: transparent;
      }
    }
    .fs-copy,
    .fs-scroll-down {
      display: flex;
      align-items: center;
      padding: $gap-md 0 $gap-md $gap-md;
      color: #2229;
      font-size: 0.8rem;
      font-weight: 600;
      @media (prefers-color-scheme: dark) {
        border-color: transparent;
      }
    }
    .fs-prompt-cta {
      width: 92.5%;
      justify-self: center;
      display: grid;
      grid-template: 1fr / repeat(3, 1fr);
      grid-auto-flow: column;
      gap: $gap-md;
      margin-right: 2.5%;
      padding-block: $gap-sm;
      border: 1px solid #2225;
      border-radius: $gap-tn;
      button,
      [mat-flat-button],
      [mat-stroked-button] {
        transition: transform 0.5s ease-in-out;
        justify-self: center;
        &:hover {
          transform: translateY(-1px);
          .mat-icon.mat-mdc-icon {
            transform: rotateX(10px);
          }
          .mat-icon.mat-mdc-icon + * {
            transform: rotateX(10px);
          }
        }
        &::after {
          @include btn-after-expander;
          opacity: 0.5;
          background-color: #ffffff00;
          border-radius: 1rem;
        }
        &:active {
          &::after {
            @include btn-after-active-expander;
            background-color: #eae7e746;
          }
        }
      }
      @media screen and (max-width: 750px) {
        grid-template: repeat(3, max-content) / 1fr;
      }
    }
    .fs-scroll-down {
      margin-right: 10%;
    }
    .mat-mdc-dialog-content {
      &.mdc-dialog__content {
        display: flex;
        flex-direction: column;
      }
    }
    .prompt-table-break {
      border: #7171712e 1px solid;
      margin-right: 12%;
    }
    #btnCopyOutputFromModal {
      @include modal-footer-btn;
    }
    #btnScrollDown {
      @include modal-footer-btn;
      &:hover {
        animation: none;
        gap: 0.75rem;
        mat-icon {
          @include mix-move-up-down;
        }
      }
    }
    #chkMasksBtn {
      @include cta-buttons-icons(rgb(45, 207, 45), "");
    }
    #inputReflex {
      display: block;
      font-size: 0.8rem;
      font-style: italic;
      opacity: 0.75;
    }
    #outpHr {
      width: 90%;
      margin: 2rem 1rem !important;
      border: 1px solid rgba(0, 0, 34, 0.075);
      opacity: 0.8;
    }
    #outpTitle {
      margin: 0 1rem 0 1rem !important;
      font-size: 1.25rem;
      font-weight: 800;
    }
    #prompt-table-flag {
      display: none !important;
    }
    #promptTableHeading {
      font-weight: bold;
      font-size: 1.7rem;
      margin-block: $gap-md $gap-sm;
      margin-right: $gap-sm--2;
      padding-bottom: $gap-sm;
      text-align: center;
    }
    #promptTableContent {
      padding: $gap-sm $gap-md $gap-md calc($gap-md * 2);
      height: 50vh;
      border-block: rgba(200, 200, 200, 0.2) 1px solid;
    }
    #regenMasksBtn {
      .mat-icon.mat-mdc-icon {
        transition: transform ease-in-out 1s, color ease-in-out 3s;
        &:hover {
          color: rgb(108, 149, 239);
          z-index: 99;
          animation: spinning 2s infinite;
        }
      }
    }
    #unchkMasksBtn {
      @include cta-buttons-icons(rgba(200, 15, 15, 0.6), "");
    }
  }
}
::ng-deep {
  .prompt-table-modal {
    hr {
      border: #7171712e 1px solid;
      margin-right: 12%;
    }
    th {
      .mat-button__icon {
        transition: transform ease-in-out 0.5s;
        ::after {
          @include btn-after-expander;
          background-color: #ffffff00;
          border-radius: 1rem;
        }
        height: max-content;
        width: max-content;
        padding-inline: $gap-tn;
        margin-left: calc($gap-tn + 0.1rem);
        text-align: center;
        &:hover {
          border-radius: 0.25rem;
          animation: subtle-glow-spin 1s ease-in-out infinite;
        }
        &:active,
        &:focus {
          ::after {
            @include btn-after-active-expander;
            background-color: #ffffff77;
          }
        }
      }
      .header-label {
        vertical-align: text-top;
        white-space: pre;
      }
    }
    .header-icon {
      font-size: 0.9rem;
      transform: translateY(0.25rem);
      vertical-align: text-top;
      padding-left: 0.1rem;
    }
    .subtitle {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 0.8rem;
      opacity: 0.75;
      margin: $gap-md--2 0 0 0;
      padding-bottom: $gap-sm;
    }
    @media screen and (max-width: 600px) {
      .regenerate {
        padding-bottom: 0.5rem;
      }
    }
  }
  #captionScanResults {
    padding-block: 1rem;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    vertical-align: baseline;
    opacity: 0.7;
    @media screen and (max-width: 720px) {
      text-align: start;
    }
  }
}
