textarea {
  width: 100%;
  font-size: 1rem;
}

.actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

#mainContainer {
  padding-top: 5%;
}

#resultOutput {
  color: red;
}
