@use "./styles/abstracts/vars.scss" as *;
textarea {
  width: 100%;
  font-size: $gap-md;
}

.actions {
  margin-top: $gap-md;
  gap: $gap-md;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-wrap: wrap;
  border: none;
  button {
    margin-block: $cta-margin;
  }
}

.container {
  max-width: 37.5rem;
  margin: auto;
  padding: $gap-md;
}

#mainContainer {
  padding-top: calc($cta-margin * 0.75);
}

#mainHeader {
  display: flex;
  justify-content: space-around;
}

#resultOutput {
  color: rgba(255, 0, 0, 0.819);
}
