@use "./app/styles/abstracts/vars.scss" as *;
:root {
  --info-bg-primary: #3f51b5;
  --info-bg-secondary: #303f9f;
  --info-bg-invert-secondary: #8f00f57b;
  --warn: #ffeb3b;
  --info: #2196f3;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table {
  td,
  th {
    text-align: center !important;
  }
}

mat-dialog-container,
[mat-dialog-container] {
  max-height: 80vh !important;
  summary {
    display: block;
  }
  details {
    padding: $gap-sm $gap-md;
    h3 {
      font-size: 1.75rem !important;
    }
    h4 {
      font-size: 1.5rem !important;
    }
  }
}
bng #scanResults {
  width: 100%;
  td,
  th {
    text-align: center;
  }
}
