@use "./app/styles/abstracts/vars.scss" as *;
@use "./app/styles/abstracts/mixins.scss" as *;
@use "./app/styles/utils/colored-toasts.scss" as *;

:root {
  --info-bg-primary: #3f51b5;
  --info-bg-secondary: #303f9f;
  --info-bg-invert-secondary: #8f00f57b;
  --warn: #ffeb3b;
  --info: #2196f3;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table {
  th {
    padding-block: 0.5rem;
    vertical-align: middle;
  }
  td,
  th {
    text-align: center !important;
  }
}

mat-dialog-container,
[mat-dialog-container] {
  max-height: 80vh !important;
  summary {
    display: block;
  }
  details {
    padding: $gap-sm $gap-md;
    h3 {
      font-size: 1.75rem !important;
    }
    h4 {
      font-size: 1.5rem !important;
    }
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  &.prompt-table-modal {
    max-width: 100vw !important;
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel,
.mat-mdc-dialog-container.mdc-dialog,
.mat-mdc-dialog-inner-container.mdc-dialog__container,
.mat-mdc-dialog-surface.mdc-dialog__surface,
.mat-mdc-dialog-component-host.ng-star-inserted {
  min-width: 50vw;
  max-width: 90vw;
  scrollbar-width: thin;
  * {
    scrollbar-width: thin;
  }
}

.masked-output {
  display: block;
  padding: 1.5rem 1rem;
  font-weight: 500;
}

.mdc-dialog--open .mat-mdc-dialog-surface {
  scroll-behavior: smooth;
  scrollbar-width: none !important;
}

.prompt-table-modal {
  resize: both;
  overflow: auto;
  &.cdk-overlay-pane {
    width: 80%;
  }
}

.regenerate {
  display: inline-flex;
  min-width: max-content;
  justify-content: center;
  width: 60%;
  &:hover {
    background-color: #d1d1d144;
    border: solid 0.1rem #4444;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}

.regenerate-btn {
  background-color: #eeee;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: solid 1px #4444;
  padding: 0.1rem 0.15rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  &:hover {
    background-color: #3333;
  }
}

#scanResults {
  width: 100%;
  td,
  th {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  $dark-theme-bg--prim: #3b3b3b;
  html {
    background-color: $dark-theme-bg--prim;
  }
  #mainContainer {
    background-color: $dark-theme-bg--prim;
    input,
    textarea,
    p,
    mat-select,
    mat-label,
    .mat-mdc-form-field-infix {
      color: #eeee;
    }
    .mdc-button--raised,
    mat-icon {
      filter: invert(0.85);
    }
  }
}
