@use "./app/styles/abstracts/vars.scss" as *;
@use "./app/styles/abstracts/mixins.scss" as *;
@use "./app/styles/utils/colored-toasts.scss" as *;

:root {
  --info-bg-primary: #3f51b5;
  --info-bg-secondary: #303f9f;
  --info-bg-invert-secondary: #8f00f57b;
  --warn: #ffeb3b;
  --info: #2196f3;
  --header-row-bg: #ececec;
  --dialog-surface-bg: #fff;
  --dialog-surface-color: #000;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  &.dark-theme {
    scrollbar-color: #fff4 #1115;
    .cdk-overlay-container {
      .mat-mdc-table {
        @include zebra-stripes($dark-alt-row-bg);

        th.mat-mdc-header-cell {
          background-color: $dark-header-bg;
          color: $dark-text;
          border-bottom: 1px solid #757575;

          &:hover {
            background-color: $dark-header-hover-bg;
          }
        }

        td.mat-mdc-cell {
          background-color: $dark-cell-bg;
          color: $dark-text;
          border-bottom: 1px solid #555;

          &:hover {
            background-color: $dark-header-hover-bg;
          }
        }
      }

      .mat-mdc-dialog-title {
        color: $dark-text;
      }

      .mat-mdc-dialog-container,
      .mdc-dialog__surface {
        background-color: $dark-cell-bg;
        color: $dark-text;
      }

      .mat-mdc-dialog-content {
        @include dialog-scrollbar-dark;
      }
    }
    @include dark-swal;
  }
  &.light-theme {
    @include light-theme-overrides;
  }
}

table {
  th {
    padding-block: $gap-md;
    vertical-align: middle;
  }

  td,
  th {
    text-align: center !important;
  }
}

mat-dialog-container,
[mat-dialog-container] {
  max-height: 80vh !important;

  summary {
    display: block;
  }

  details {
    padding: $gap-sm $gap-md;

    h3 {
      font-size: 1.75rem !important;
    }
    h4 {
      font-size: 1.5rem !important;
    }
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  &.prompt-table-modal {
    max-width: 100vw !important;
  }
}

.cdk-overlay-pane.mat-mdc-dialog-panel,
.mat-mdc-dialog-container.mdc-dialog,
.mat-mdc-dialog-inner-container.mdc-dialog__container,
.mat-mdc-dialog-surface.mdc-dialog__surface,
.mat-mdc-dialog-component-host.ng-star-inserted {
  min-width: 50vw;
  max-width: 90vw;
  scrollbar-width: thin;

  * {
    scrollbar-width: thin;
  }
}

.clear-button {
  @include clear-btn;
  &.mat-icon {
    @include clear-btn;
  }
}

.color-scheme-icon-wrapper {
  .bi {
    height: 14px;
  }
}

.mat-mdc-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  @include zebra-stripes(#f2f2f2);

  .mat-mdc-header-row {
    @include mat-header-row();
  }

  th.mat-mdc-header-cell {
    @include mat-header-cell;
  }

  td.mat-mdc-cell {
    @include mat-cell;
  }
}

.mat-mdc-dialog-container,
.mdc-dialog__surface {
  @include dialog-surface();
}

.mat-mdc-dialog-content {
  table {
    &.mat-mdc-table {
      @include zebra-stripes(#f2f2f2);
    }
  }
}

.masked-output {
  display: block;
  padding: calc($gap-md + $gap-sm) $gap-md;
  font-weight: 500;
}

.mdc-dialog--open {
  .mat-mdc-dialog-surface {
    scroll-behavior: smooth;
    scrollbar-width: none !important;
  }
}

.prompt-table-modal {
  resize: both;
  overflow: auto;

  &.cdk-overlay-pane {
    width: 80%;
  }
}

.regenerate {
  display: inline-flex;
  min-width: max-content;
  justify-content: center;
  width: 60%;
  @include interactive-states(#d1d1d144, $dark-header-hover-bg);
  border: solid 0.1rem rgba(0, 0, 0, 0.27);
  border-radius: $gap-tn;
  @media (prefers-color-scheme: dark) {
    border: solid 0.1rem rgba(0, 0, 0, 0);
  }
}

.regenerate-btn {
  background-color: #eeee;
  margin-left: $gap-sm;
  border-radius: $gap-tn;
  border: solid 1px rgba(0, 0, 0, 0.27);
  padding: 0.1rem 0.15rem;
  text-align: center;
  vertical-align: middle;
  @include interactive-states(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
  @media (prefers-color-scheme: dark) {
    background-color: rgb(238 238 238 / 36%);
  }
}

#promptInput {
  height: 5rem;
  min-height: 5rem !important;
}

#scanResults {
  width: 100%;

  td,
  th {
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  $dark-base: #3b3b3b;

  html {
    background-color: $dark-base;
    scrollbar-color: #fff4 #1115;
    &:has(body.light-theme) {
      background-color: #ffff;
    }
  }

  body {
    @include dark-swal;
  }

  .cdk-overlay-container {
    .mat-mdc-dialog-container,
    .mdc-dialog__surface {
      @include dialog-surface($dark-cell-bg, $dark-text);
    }

    .mat-mdc-dialog-content {
      table.mat-mdc-table {
        @include zebra-stripes($dark-alt-row-bg);

        th.mat-mdc-header-cell {
          @include mat-header-cell;
          background-color: $dark-header-bg;
          color: $dark-text;

          &:hover {
            background-color: $dark-header-hover-bg;
          }
        }

        td.mat-mdc-cell {
          @include mat-cell;
          background-color: $dark-cell-bg;
          color: $dark-text;
        }
      }

      @include dialog-scrollbar-dark;
    }

    .mat-mdc-dialog-title {
      color: $dark-text;
    }
  }

  #mainContainer {
    background-color: $dark-base;

    input,
    textarea,
    p,
    mat-select,
    mat-label,
    .mat-mdc-form-field-infix {
      color: #eeee;
    }

    .mdc-button--raised,
    mat-icon {
      filter: invert(0.85);
    }

    .mat-icon {
      color: rgb(10, 10, 10);
    }
  }
}

@media (prefers-color-scheme: light) {
  body:not(.dark-theme):not(.light-theme) {
    @include light-theme-overrides;
  }
}
