@use "../styles/abstracts/vars.scss" as *;
:host {
  width: $shape-sm;
  height: $shape-sm;
  color: #fff;
  transform: background-color 0.3s;
  transition: transform ease-in-out 0.5s;
  &:hover,
  &:active {
    // background-color: var(--info-bg-secondary);
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(2px);
  }
  // &.open {
  // background-color: var(--info-bg-invert-secondary);
  // }
}
