@use "../styles/abstracts/vars.scss" as *;
@use "../styles/abstracts/mixins.scss" as *;
:host {
  @include moving-button(-2px, 2px, transform ease-in-out 0.5s);
  width: $shape-sm;
  height: $shape-sm;
  color: #fff;
  transform: background-color 0.3s;
  &:hover,
  &:active {
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    grid-column: 8;
    grid-row: 1;
    justify-self: end;
    padding-right: $gap-sm;
  }
}
